@import url(https://fonts.googleapis.com/css?family=Lato);



#first-column {
    width: 50%;
    align-self: center;
    line-height: 1.5em;
    font-size: 1.1em;

}

#first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;

}

#first-row img {
    height: 50%;
}

#first-column:nth-child(2){
    width: 40%;
}

#first-column a {
    text-decoration: underline
}


